html {
    background-color: #3d3b35;
}

img {
    max-width: 100%;
    height: auto;
}

/*QuickReset*/*{margin:0;box-sizing:border-box;}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    line-height: 20px;
    overflow: hidden;
  }
  
header {
    background-color: white;
}

main {
    /* margin-top: 4%; */
    flex: 1;
    display: flex;
    /* overflow: -moz-scrollbars-vertical;  */
    overflow-y: auto;
    flex-direction: column-reverse;
    margin-bottom: 4%;
}
footer {
    background-color: #3d3b35;
    /* padding: 2px; */
}

#headerBar{
    /* border: 1px solid green; */
    width: 100%;
    /* float: right; */
    padding: 10px;
    margin-bottom: 1%;
}
#status{
    float: right;
    /* border: 1px solid black; */
    color: green;
}
#footerContent{
    /* float: right; */
}
#msgInput{
    width: 80%;
    height: 100%;
    padding: 12px 20px;
    margin: 0px 0;
    box-sizing: border-box;
    font-weight: bold;
    /* border: 3px solid #ccc; */
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    /* border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
#msgInput:focus{
    border: 2px solid #555;
}

input[type="text"]
{
    font-size:1.2em;
}
button {
    /* float: right; */
    /* margin-right: 5px;
    margin-left: 5px; */
    padding: 10px;
    font-size: 1.2em;
    font-weight: 500;
    /* margin-top: 1%; */
    width: 19%;
    background-color: #3d3b35;
    color: white;
    border: 0px solid #3d3b35;
    -webkit-transition-duration: 0.4s;
    cursor: pointer;
    /* border-radius: 4px; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
button:hover{
    background-color: #47453d; 
    color: black; 
}
button:active{
    background-color: red;
}

#ipfsID{
    float: left;
    /* border: 1px solid black; */
}
.message{
    color: white;
    /* border: 1px solid white; */
    line-height: 1.5;
    margin-left: 5px;
}
.peers{
    color: pink;
    line-height: 1.5;
    margin-left: 20px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}
.stickyBottom {
    position: fixed;
    bottom: 0;
    width: 100%
}
.container {
    height: 95vh;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 0%;
  }
.height{
    /* border: 1px solid black; */
}
