html {
    background-color: gold;
}


 img {
	max-width: 100%;
	height: auto;
}

/*QuickReset*/*{margin:0;box-sizing:border-box;}


body {                /* body - or any parent wrapper */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .8em;
    line-height: 20px;
  }
  
header {
    background-color: white;
}

main {
    flex: 1;
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}
footer {
    background-color: blue;
    /* padding: 2px; */
}

#headerBar{
    float: right;
    padding: 10px;
    margin-right: 2%;
}
#status{
    color: green;
}
#footerContent{
    /* float: right; */
}
#msgInput{
    width: 80%;
    height: 100%;
    padding: 12px 20px;
    margin: 0px 0;
    box-sizing: border-box;
    /* border: 3px solid #ccc; */
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    /* border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
#msgInput:focus{
    border: 2px solid #555;
}
button {
    /* float: right; */
    /* margin-right: 5px;
    margin-left: 5px; */
    padding: 10px;
    /* margin-top: 1%; */
    width: 19%;
    background-color: #555555;
    color: white;
    border: 0px solid #555555;
    -webkit-transition-duration: 0.4s;
    cursor: pointer;
    /* border-radius: 4px; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
button:hover{
    background-color: white; 
    color: black; 
}
button:active{
    background-color: red;
}